html,
body,
#root {
  height: 100%;
  width: 100%;
}

.gradient-background {
  background: rgb(238, 174, 202);
  background: linear-gradient(
    90deg,
    rgba(238, 174, 202, 1) 29%,
    rgba(252, 209, 70, 1) 62%,
    rgba(70, 252, 181, 1) 100%
  );
}
